---
import PageLayout from '../layouts/PageLayout.astro';
import Sidebar from '../components/Sidebar.astro';
import ScrollAnimation from '../components/ScrollAnimation.astro';

---

<PageLayout title='Jinto'>
  <div class="flex">
    <Sidebar />
    <ScrollAnimation />
  </div>
</PageLayout>
