---
import PageLayout from '../layouts/PageLayout.astro';
import Sidebar from '../components/Sidebar.astro';

---

<PageLayout title='Jinto'>
  <div class="flex">
    <Sidebar />
  </div>
</PageLayout>
