---
import SidebarIcon from "./SidebarIcon.astro";
import Divider from "./Divider.astro";
---
<div class="
  fixed top-0 left-0 h-screen w-16 m-0
  flex flex-col
bg-gray-900 text-white shadow-lg
">

  <SidebarIcon icon="fire" text="tool tip for fire 💡"></SidebarIcon>
  <Divider />
  <SidebarIcon icon="plus" text="tool tip for plus 💡"></SidebarIcon>
  <SidebarIcon icon="lightning" text="tool tip for lightning 💡"></SidebarIcon>
  <SidebarIcon icon="poo" text="tool tip for poo 💡"></SidebarIcon>
  <Divider />
  <SidebarIcon icon="gear" text="tool tip for gear 💡"></SidebarIcon>
</div>
